
<div class="card shadow mb-4">
	<!-- Card Header - Dropdown -->
<!-- 	<div
		class="card-header d-flex flex-row align-items-center justify-content-between">
		Earnings Overview
		<div class="dropdown no-arrow">
			<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
				aria-labelledby="dropdownMenuLink">
				<div class="dropdown-header">Dropdown Header:</div>
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</div>
	</div> -->
	<div class="card-header">
		<h4 class="card-title">Menores Preços</h4>
	</div>
	<div class="card-body" style="padding-bottom: 0;">
		<div class="row">
<!-- 		<div class="col-md-2 offset-md-6 mb-3 mb-md-0">
				<select class="form-control" id="selectCompanhia" onchange="atualizarGrafico()">
					<option value="GOL">GOL</option>
					<option value="LATAM">LATAM</option>
				</select>
			</div> -->
			<div class="col-md-4 mb-0 offset-md-8">
				<select class="form-control" id="selectDestino" onchange="atualizarGrafico()">
					<% for (let i = 0; i < destinos.length; i++) { %>
						<option value="<%= destinos[i].idVoo %>"><%= destinos[i].destino %></option>
					<% } %>
				</select>
			</div>
		</div>
	</div>
	<!-- Card Body -->
	<div class="card-body" style="padding-top: 0;">
		<div class="chart-area" id="chartContainer"></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="card shadow mb-4">
			<!--tabela -->
			<div class="card-header">
				<h4 class="card-title">Regiões mais caras</h4>
			</div>
			<div class="card-body">
				<div class="chart-area" id="chartPieContainer">
				</div>
				<%=regioes_media[1].preco%>
			</div>
		</div>
	</div>

	<div class="col-sm-8">
		<div class="card shadow mb-4" style="height: 500px;">
			<!--tabela -->
			<div class="card-header">
				<h4 class="card-title">Menores Preços</h4>
			</div>
			<div class="card-body">
				<div class="table-responsive" style="max-height: 500px;">
					<table class="table tablesorter " id="">
						<thead class=" text-primary">
						<tr>
							<th>
								Destino
							</th>
							<th>
								Companhia
							</th>
							<th>
							Horário de Saída
							</th>
							<th>
							Duração
							</th>
							<th>
							Data de Pesquisa
							</th>
							<th class="text-center">
								Preço
							</th>
						</tr>
						</thead>
						<tbody>
						<% for (let i = 0; i < passagens.length; i++) { %>
							<tr>
								<td>
									<%= passagens[i].destino %>
								</td>
								<td>
									<%= passagens[i].companhia %>
								</td>
								<td>
									<%= passagens[i].hSaida %>
								</td>
								<td>
									<%= passagens[i].duracao %>
								</td>
								<td>
									<%= passagens[i].dataPesquisa %>
								</td>
								<td class="text-center">
									<%= passagens[i].preco %>
								</td>
							</tr>
						<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="a" data-regiao="<%= regioes_media.regiao %>"></div>
<div id="b" data-preco="<%= regioes_media.preco %>"></div>

<%- contentFor("scripts") %>
<script src="<%- staticRoot %>/lib/chart.js/chart.min.js"></script>
<script src="/public/js/eixoduplo.js"></script>

<script>
	
	var regiao = JSON.parse(document.getElementById("a").dataset);
	var preco = JSON.parse(document.getElementById("b").dataset);

	$("#chartPieContainer").html('<canvas id="myPieChart"></canvas>');
	var ctx = document.getElementById("myPieChart");
		var myPieChart = new Chart(ctx, {
			type: 'doughnut',
			//regioes_media.regiao
			  data: {labels: regiao,
			  datasets: [{
				//label: 'My First Dataset',
				//regioes_media.preco
				data: preco,
				backgroundColor: [
				'rgba(255, 159, 64, 0.5)',
				'rgba(255, 205, 86, 0.5)',
				'rgba(75, 192, 192, 0.5)',
				'rgba(54, 162, 235, 0.5)',
				'rgba(153, 102, 255, 0.5)'
				],
				borderColor: [
				'rgb(255, 159, 64)',
				'rgb(255, 205, 86)',
				'rgb(75, 192, 192)',
				'rgb(54, 162, 235)',
				'rgb(153, 102, 255)'
				],
				hoverOffset: 4
			  }]},
			
		});
	
</script>